<p style="color: green"><%= notice %></p>

<h1>Категорії витрат / доходів</h1>

  <%= form_tag(categories_path, method: :get, id: "search-form") do %>
    <div class="input-group">
      <div class="form-outline">
        <%= text_field_tag :search, params[:search], placeholder: 'Введіть перші літери назви категорії', class: 'form-control rounded' %>
      </div>
      <button type="submit" class="btn btn-outline-dark">
        <i class="bi-search"></i>
      </button>
      <%= link_to raw("<i class='bi-x-lg'></i>"), categories_path, method: :get, class: "btn btn-success" %>
    </div>
  <% end %>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Назва</th>
      <th scope="col">Опис</th>
      <th scope="col">Управління</th>
    </tr>
  </thead>
  <tbody id="categories">
    <% @categories.each do |category| %>
       <tr>
        <td><%= category.id %></td>
        <td><%= category.name %></td>
        <td><%= category.description %></td>
        <td>
          <div class="d-flex flex-row">
            <div class="p-2">
              <%= link_to '', edit_category_path(category), class: 'btn btn-light bi-pencil-square' %>
            </div>
            <div class="p-2">
              <%= button_to '', category, method: :delete, class: 'btn btn-light bi-x-lg' %>
            </div>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= button_to "New category", new_category_path, method: :get, class: "btn btn-success" %>
