<h1>Генератор звітів</h1>
<%= form_with url: reports_report_path, method: :get do |f| %>
  <p>
    <%= label_tag(:start_date, 'Дата YYYY-MM-DD') %>
    <%= f.date_select :start_date %>
  </p>
  <p>
    <%= label_tag(:end_date, 'Дата YYYY-MM-DD') %>
    <%= f.date_select :end_date %>
  </p>
  <p>
    <%= label_tag(:category, 'Категорія') %>
    <%= f.select 'category', options_from_collection_for_select(Category.all, 'id', 'name') %>
  </p>

  <%= f.submit 'Згенерувати', class: 'btn btn-primary' %>
  <%= f.submit 'Очистити', class: 'btn btn-outline-warning' %>
  <%= f.submit 'Графік', class: 'btn btn-outline-success btn-rounded' %>
  <%= f.submit 'По датам', class: 'btn btn-outline-danger btn-rounded' %>

<% end %>
