<%= form_with(model: operation) do |form| %>
  <% if operation.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(operation.errors.count, "error") %> prohibited this operation from being saved:</h2>

      <ul>
        <% operation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :amount, style: "display: block" %>
    <%= form.text_field :amount %>
  </div>

  <div>
    <%= form.label :odate, style: "display: block" %>
    <%= form.datetime_field :odate %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.label :category, style: "display: block" %>
    <%= form.select :category_id, options_from_collection_for_select(Category.all, 'id', 'name'), prompt: "Виберіть тип категорії" %>
  </div>

    <div>
    <%= form.label :operation_type, style: "display: block" %>
    <%= form.select :operation_type, options_for_select(Operation.operation_types.map{ |key, _| [key.humanize.capitalize, key]}), prompt: "Виберіть тип операції" %>
  </div>

  <br>

  <div>
    <%= form.submit class: "btn btn-success" %>
  </div>

<% end %>
