<p style="color: green"><%= notice %></p>

<h1>Транзакції</h1>

<%= form_tag(operations_path, method: :get, id: "select-form") do %>
  <div class="input-group pb-3">
    <%= select_tag :category_id, options_from_collection_for_select(Category.all, 'id', 'name', params[:category_id]), class: 'custom-select', prompt: 'Фільтр по категоріям' %>
    <button type="submit" class="btn btn-outline-dark">
      <i class="bi-search"></i>
    </button>
  </div>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th scope="col" style="background-color: #f2f2f2">#</th>
      <th scope="col" style="background-color: #f2f2f2"> Категорія</th>
      <th scope="col" style="background-color: #f2f2f2">Тип операції</th>
      <th scope="col" style="background-color: #f2f2f2">Сума</th>
      <th scope="col" style="background-color: #f2f2f2">Дата</th>
      <th scope="col" style="background-color: #f2f2f2">Опис</th>
      <th scope="col" style="background-color: #f2f2f2">Управління</th>
    </tr>
  </thead>
  <tbody id="categories">
    <% @operations.each do |operation| %>
      <tr>
        <td><%= operation.id %></td>
        <td><%= operation.category.name %></td>
        <td><%= operation.operation_type.capitalize %></td>
        <td><%= operation.amount %></td>
        <td><%= operation.odate %></td>
        <td><%= operation.description %></td>
        <td>
          <div class="d-flex flex-row">
            <div class="p-2">
              <%= link_to '', edit_operation_path(operation), class: 'btn btn-light bi-pencil-square' %>
            </div>
            <div class="p-2">
              <%= button_to '', operation, method: :delete, class: 'btn btn-light bi-x-lg' %>
            </div>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

  <%= button_to "New transaction", new_operation_path, method: :get, class: "btn btn-success" %>
